{% extends 'base.html' %}
{% load static %}
{% block title %}添加数据{% endblock %}
{% block css_block %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'material:addtion' %}">
    {% csrf_token %}

          <label>物料名称 <input type="text" name="meterialName" id="meterialName"></label>
           <label>压缩因子 <input type="text" name="comFactor" id="comFactor"></label>
<br/>
            <td><label>填料类型 <input type="text" name="meterialType" id="meterialType"></label>
            <td><label>保存方法 <input type="text" name="storeMethod" id="storeMethod"></label>

        <br />
            <label>产家 <input type="text" name="brand" id="brand"></label>
            <label>DBC(mg/ml) <input type="text" name="dbc" id="dbc"></label>

        <br />
           <label>基质 <input type="text" name="matrix" id="matrix"></label></td>
            <label>项目生产载量范围 <input type="text" name="capacityRange" id="capacityRange"></label>

        <br>
            <label>功能基团 <input type="text" name="ligand" id="ligand"></label>
            <label>装柱最大流速压力 <input type="text" name="velocityPressure" id="velocityPressure"></label>

        <br>
            <label>直径 <input type="text" name="diameter" id="diameter"></label>
            <label>有效期 <input type="text" name="validtyPeriod" id="validtyPeriod"></label>

        <br>
            <label>耐受压力类型 <input type="text" name="tolePressure" id="tolePressure"></label>
            <label>装柱方法 <input type="radio" name="packingMethod" id="packingMethod" value="A">
            <input type="radio" name="packingMethod" id="packingMethod" value="C">
                <input type="radio" name="packingMethod" id="packingMethod" value="D">
                <input type="radio" name="packingMethod" id="packingMethod" value="E">
                <input type="radio" name="packingMethod" id="packingMethod" value="B">
            </label>

        <br />
            <label>PH范围 <input type="text" name="phRange" id="phRange"></label>
            <label>装柱方法详细 <input type="text" name="packingdetail" id="packingdetail"></label>

        <br>
           <input type="submit" name="submit" id="submit" value="添加">

    </form>
{% endblock %}