{% extends 'base.html' %}
{% load static %}
{% block title %}添加数据{% endblock %}
{% block css_block %}

{% endblock %}

{% block content %}
    <form method="post" action="{% url 'issues:modifys' issue.id %}">
    {% csrf_token %}

          <label>物料名称 <input type="text" name="issue" id="issue" value="{{ issue.issue }}"></label><br/>
           <label>压缩因子 <input type="text" name="reason" id="reason" value="{{ issue.reason }}"></label>
        <br/>
            <td><label>填料类型 <input type="text" name="solution" id="solution" value="{{ issue.solution }}"></label>
        <br>
           <input type="submit" name="submit" id="submit" value="修改">

    </form>
{% endblock %}